@import './variables.scss';
@import './_partials/mixins.scss';
@import './_partials/utils.scss';
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

body {
  background-color: lighten($bone, 5%);
  color: $darkumber;
}

h2 {
  color: $redviolet;
}

p {
  margin: 0;
}

a {
  color: #000 !important;
  text-decoration: none;
}

input,
textarea {
  padding: 0.5em 1em;
  font-size: 0.875rem;
  border: none;
  border-radius: 3px;
}

textarea {
  resize: none;
}

.df {
  display: flex;

  &-fc {
    flex-direction: column;
  }

  &-jc-c {
    justify-content: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-fe {
    justify-content: flex-end;
  }

  &-ai-c {
    align-items: center;
  }

  &-ai-fe {
    align-items: flex-end;
  }

  &-ai-s {
    align-items: stretch;
  }
}

.container {
  width: 100%;
  max-width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;

  @include media(md) {
    max-width: 900px;
    padding: 0 auto;
  }

  @include media(lg) {
    max-width: 1050px;
  }
}

.btn {
  min-width: 4em;
  padding: 0.5em 1em;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: 500;
  color: $darkumber;
  cursor: pointer;

  &-primary {
    background-color: $redviolet;
    border-color: darken($redviolet, 3%);
    color: #fff;

    &:hover {
      background: linear-gradient($redviolet, lighten($redviolet, 3%));

      &:active,
      &:focus {
        border-color: darken($redviolet, 5%);
      }
    }

    &:disabled {
      background: rgba($redviolet, 80%);
      border-color: rgba($redviolet, 80%);
    }
  }

  &-secondary {
    background-color: inherit;
    border-color: lighten($shadow, 20%);

    &:hover {
      background: linear-gradient(lighten($bone, 5%), lighten($bone, 3%));

      &:active,
      &:focus {
        border-color: $shadow;
      }
    }

    &:disabled {
      color: rgba($darkumber, 80%);
    }
  }

  &-icon {
    min-width: 0;
    background: none;
    border: none;
    padding: 0;

    &:hover,
    &:active,
    &:focus {
      color: lighten($darkumber, 10%);
    }
  }

  &-text {
    background-color: inherit;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    padding-left: 0;
    padding-right: 0;

    &:disabled {
      color: lighten($darkumber, 15%);
    }
  }
}

.holidayRating {
  margin-bottom: 2rem;
  p {
    margin-bottom: 0.75rem;
    color: darken($shadow, 20%);
  }
  input:not([type='file']) {
    height: 2.5em;
  }

  input:not([type='file']),
  textarea {
    width: 100%;
    border: 1px solid darken($bone, 8%);
  }
}

.formError {
  p {
    color: $redviolet;
  }

  & > input:not([type='file']) {
    @include error-border;
  }

  &Label {
    @include error-text;
  }
}

.input {
  margin-bottom: 2rem;
  p {
    margin-bottom: 0.75rem;
    color: darken($shadow, 20%);
  }
  input:not([type='file']) {
    height: 2.5em;
  }

  input:not([type='file']),
  textarea {
    width: 100%;
    border: 1px solid darken($bone, 8%);
  }
}
