// colors
$bone: #e9e6e2;
$shadow: #8c7a6b;
$number: #736559;
$darkumber: #2e2824;
$rosewood: #5e0b15;
$redviolet: #90323d;
$earthyellow: #d3a15f;
$mainBackground: ligten($bone, 10%);

// media breakpoints
$sm: 480px;
$md: 768px;
$lg: 1024px;
