@import '../../styles/variables.scss';
@import '../../styles/_partials/_mixins.scss';
@import '../../styles/_partials/_utils.scss';

.input {
  margin-bottom: 2rem;
  p {
    margin-bottom: 0.75rem;
    color: darken($shadow, 20%);
  }
  input:not([type='file']) {
    height: 2.5em;
  }

  input:not([type='file']),
  textarea {
    width: 100%;
    border: 1px solid darken($bone, 8%);
  }
}

.inputInfo {
  color: darken($shadow, 10%);
  font-size: 0.75rem;
  font-style: italic;
}

.formError {
  p {
    color: $redviolet;
  }

  & > input:not([type='file']) {
    @include error-border;
  }

  &Label {
    @include error-text;
  }
}

input[type='checkbox'] {
  visibility: hidden;
}

input[type='checkbox']:checked {
  visibility: visible;
}

/* the slider bar */
input[type='checkbox'] {
  width: 45px;
  height: 15px;
  background: #555;
  margin: 20px 80px;
  position: relative;
  border-radius: 5px;
  label {
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.5s ease;
    cursor: pointer;
    position: absolute;
    top: -2px;
    left: -3px;
    background: #ccc;
  }
}

/* the slider from the label */
input[type='checkbox'] label {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.5s ease;
  cursor: pointer;
  position: absolute;
  top: -2px;
  left: -3px;
  background: #ccc;
}

/* Move the slider if the checkbox is clicked */
input[type='checkbox']:checked + label {
  left: 27px;
}
