.cardsList {
  display: flex;
  flex-direction: column;
  padding: 4em 3em;
}

.card {
  color: var(--clr-text-main);
  display: flex;
  flex-direction: row;
  padding: 2em 0;
}

.cardImg {
  height: 100%;
  /* width: 20vw; */
  width: 20em;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 0.3em;

  transform: scale(1);
  transition: all 650ms ease-in-out;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
      0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
      0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
    filter: brightness(80%);
  }
}

.cardInfos {
  margin-left: 1em;
  padding: 0.5em;
}

.cardLocationIcon {
  color: var(--clr-accent);
}

.cardLocation {
  display: inline-block;
  font-size: 0.75rem;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  margin: 0 1em 0 0.25em;
  color: var(--clr-text-main);
}

.cardLocationUrl {
  color: var(--clr-text-light);
  font-size: 0.75rem;
}

.cardTitle {
  font-size: 2rem;
  margin: 0.25em 0;
  font-weight: 700;
}

.cardDate {
  font-weight: 700;
}

.card--description {
  max-width: 50rem;
  margin-top: 2em;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
}

/* Dynamic cards divider  */

.cardsList > .card + .card {
  padding: 2em 0;
  border-top: 1px solid var(--clr-text-light);
}

.cardsList .card:first-child {
  padding-top: 0;
}

.cardsList .card:last-child {
  padding-bottom: 0;
}
