@import '../../styles/variables.scss';
@import '../../styles/_partials/mixins.scss';

.holidayForm {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 1em 0.75em;

  .imageCropAndUpload {
    margin-bottom: 1em;
    width: 12em;
  }

  .holidayRating,
  .servingType,
  .imageCropAndUpload {
    justify-self: center;
  }

  .holidayType {
    button {
      height: 2.5em;
      width: 100%;
      background-color: #fff;

      &:hover {
        background-image: linear-gradient(#fff, lighten($bone, 8%));
      }
    }
  }

  label,
  .imageCropAndUpload {
    grid-column: 1 / end;
  }

  .save {
    grid-column: 1 / 4;
  }

  .cancel {
    grid-column: 4 / end;
  }

  @include media(sm) {
    .brewer,
    .percentage {
      grid-column: 1 / 4;
    }

    .date {
      grid-column: 4 / end;
    }
  }

  @include media(md) {
    .holidayName,
    .holidayType,
    .save {
      grid-column: 1 / 3;
    }

    .brewer,
    .percentage,
    .cancel {
      grid-column: 3 / 5;
    }

    .date {
      grid-column: 5 / end;
    }
  }
}
.imageInput {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
